<html>

<head>
    <title>Loggedin</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="javascripts/cript.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
</head>

<body ng-app="gif" ng-controller="MainCtrl">
    <div id="header">
    </div>

    <div id="button">
        <button disabled class="mdl-button mdl-js-button mdl-button--raised" id="quickstart-sign-in">Sign in with GitHub</button>

    </div>

    <div id="content">
        <img src="https://i.imgur.com/2bVTa1v.gif"></img>
        <li ng-repeat='line in chats'>
            {{line.from}} - {{line.body}}
        </li>
    </div>

    <div id="form">
        <form novalidate class="simple-form">
            Name: <input type="text" ng-model="user.name" /><br /> 
            Chat: <input type="text" ng-model="user.chat" /><br />
            <input type="submit" ng-click="update(user)" value="Save" />
        </form>
    </div>
</body>

</html>
